R"=(  <style>
body{
    font-family: monospace;
}

pre{
    display: inline;
}

.block
{
    border: 1px solid #000;
    padding: 0.5em;
    width: max-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.module_info
{
    background-color: #CFC;
}

.section
{
    background-color: #CDE;
}

.function
{
    background-color: #DEF;
}

.opcode_data
{
    color: #555;
}

.num
{
    color: #00F;
}

.reg
{
    color: #0A0;
}

.reg_fpu
{
    color: #0A0;
    font-weight: bold;
}

.reg_vfpu
{
    color: #0A5;
    font-weight: bold;
}

.mat_vfpu
{
    color: #0A5;
    font-weight: bold;
    font-style: italic;
}

.addr
{
    color: #444;
}

.blabel
{
    color: #C0B;
}

.jlabel
{
    color: #F0C;
    font-weight: bold;
}

.symbol
{
    color: #F2F;
    font-weight: bold;
}

.export
{
    color: #FC0;
    font-weight: bold;
}

.import
{
    color: #F33;
    font-weight: bold;
}

.uimport
{
    color: #F00;
    font-weight: bold;
    font-style: italic;
}

  </style>
)="
