R"=(  <style>
body{
    font-family: monospace;
}

.block
{
    border: 1px solid #000;
    padding: 4px;
    display: inline-block;
    margin-bottom: 12px;
}

.module_info
{
    background-color: #CCF;
}

.section
{
    background-color: #CFC;
}
  </style>
)="
